[Unit]
Description=Headless MIDI Hub
After=network.target sound.target bluetooth.target dbus.service
Requires=bluetooth.target

[Service]
User=oermens
WorkingDirectory=/home/oermens/midihub
Environment=VIRTUAL_ENV=/home/oermens/midihub/venv
Environment=PATH=/home/oermens/midihub/venv/bin:/usr/bin:/bin
ExecStart=/home/oermens/midihub/venv/bin/python /home/oermens/midihub/midihub.py
StandardOutput=journal
StandardError=journal
Restart=always
RestartSec=5
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
