[Unit]
Description=Headless MIDI Hub
After=network.target sound.target
Description=MidiHub Service
After=bluetooth.target dbus.service network.target
Requires=bluetooth.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/midihub/midihub.py
WorkingDirectory=/home/pi/midihub
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
User=pi
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
