[Unit]
Description=Midihub Services
Requires=midihub.service midioled.service
After=midihub.service midioled.service

[Install]
WantedBy=multi-user.target
