[Unit]
Description=Headless MIDI Hub
After=network.target sound.target bluetooth.target dbus.service
Requires=bluetooth.target

[Service]
ExecStart=/home/oermens/midihub/venv/bin/python /home/oermens/midihub/midihub.py
WorkingDirectory=/home/oermens/midihub
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5
User=oermens
Environment=PYTHONUNBUFFERED=1

[Install]
WantedBy=multi-user.target
