ACTION=="add", SUBSYSTEM=="sound", RUN+="/bin/systemctl start hookup.target"
ACTION=="remove", SUBSYSTEM=="sound", RUN+="/bin/systemctl start hookup.target"
