ACTION=="add", SUBSYSTEM=="sound", RUN+="/bin/systemctl start hookup.service"
ACTION=="remove", SUBSYSTEM=="sound", RUN+="/bin/systemctl start hookup.service"
