ACTION=="add", SUBSYSTEM=="sound", RUN+="/bin/systemctl start midihub.service"
ACTION=="remove", SUBSYSTEM=="sound", RUN+="/bin/systemctl start midihub.service"
