[Unit]
Description=HookUp AUDIO Routing Service
After=network.target

[Service]
Type=simple
User=__USERNAME__
WorkingDirectory=/home/__USERNAME__/hookup
ExecStart=/home/__USERNAME__/hookup/venv/bin/python3 /home/__USERNAME__/hookup/audioup.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=hookup.target
