[Unit]
Description=hookup Combined Services
Requires=midiup.service oledup.service
After=midiup.service oledup.service

[Install]
WantedBy=multi-user.target
