[Unit]
Description=Midihub MIDI Routing Service
After=network.target

[Service]
Type=oneshot
User=__USERNAME__
WorkingDirectory=/home/__USERNAME__/midihub
ExecStart=/home/__USERNAME__/midihub/venv/bin/python3 /home/__USERNAME__/midihub/midihub.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
