[Unit]
Description=Midihub OLED Display Service
After=network.target
PartOf=midihub.target

[Service]
Type=simple
User=oermens
WorkingDirectory=/home/oermens/midihub
ExecStart=/home/oermens/midihub/venv/bin/python3 /home/oermens/midihub/midioled.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=midihub.target
