[Unit]
Description=Midihub OLED Display Service
After=network.target
PartOf=midihub.target

[Service]
Type=simple
User=__USERNAME__
WorkingDirectory=/home/__USERNAME__/midihub
ExecStart=/home/__USERNAME__/midihub/venv/bin/python3 /home/__USERNAME__/midihub/midioled.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=midihub.target
