[Unit]
Description=Midihub MIDI Routing Service
After=network.target

[Service]
Type=simple
User=oermens
WorkingDirectory=%h/midihub
ExecStart=%h/.virtualenvs/midihub/bin/python3 %h/midihub/midihub.py
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
